/* EDICION GENERAL FUENTES */

h1, h2, h3, h4, p {
    font-family: 'Inconsolata', monospace;
}

li {
    font-family: 'Inconsolata', monospace;
    list-style: none;
}

/* PANEL IZQUIERDO CON INFO Y MENU DE NAVEGACION */

header#left-panel {
    float: left;
    height: 100%;
    background-color: #333333;
    color: whitesmoke;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
}

img.avatar {
    border-radius: 200px 200px 200px 200px;
    border: 10px solid  #DBDBDB;
    margin-top: 20px;
    padding-top: 20px;
}

header#left-panel h4 {
    margin-top: 0px;
    font-size: 15px;
}

header#left-panel h1 {
    margin-top: -10px;
    font-size: 30px;
}

header#left-panel p {
    margin-top: -18px;
    font-size: 15px;
}

ul#redes-sociales {
    list-style: none;
    padding-left: 0px;
    align-content: center;
    margin: -15px 0;
}

#redes-sociales li {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}

ul#redes-sociales img:hover {
    border-radius: 50%;
    border: 10px solid  #DBDBDB;
    background-color: #DBDBDB;    
}

ul#redes-sociales li img {
    border-radius: 50%;
    border: 10px solid #51616300; 
}

nav#nav {
    padding: 0px;
    text-align: right;
    margin-top: 10px;
}

nav#nav li {
    text-align: right;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: -10px;
    padding: 10px;
    border: 2px solid #51616300;
    border-right: none;
    border-radius:30px 0px 0px 30px;
    background-color: #1e1e1e;
    cursor: pointer;
}

nav#nav li:hover {
    border: 2px solid whitesmoke;
    border-right: none;
    border-radius:30px 0px 0px 30px;
    margin-right: -10px;
}

/* Informacion principal */

div#main-content {
    background-color: #1e1e1e;
    color: whitesmoke;
    height: 100vh;
    margin-left: 200px;
    padding: 50px 50px 0px 50px;
}

div#main-content h2 {
    padding-left: 100px;
    text-align: left;
    font-size: 40px;
}

div#main-content img {
    margin-top: -60px;
    padding-right: 15px;
    float: left;
}

div.secciones-logo {
    float: left;
    margin-top: -60px;
}

p.texto-sobre-mi {
    padding-left: 60px;
    font-size: 17px;
}

section#formacion-institucional-section {
    height: 100%;
}

div.logo-educacion {
    float: left;
    margin-top: -51px;
}

section#formacion-institucional-section li img {
    float: none;
    display: inline-block;

}

div#main-content li {
    padding: 38px;
    font-size: 20px;
    margin-left: 25px;
    align-items: center;
}

div#main-content div.logo-trabajos {
    margin-top: -30px;
}

div#main-content h3 {
    padding-left: 60px;
    font-size: 40px;
}

div#main-content h4 {
    margin-top: -40px;
    padding-top: 20px;
    padding-left: 120px;
    font-size: 35px;
}

div#main-content div.logo-skills img.logo-skills {
    margin-top: -92px !important;
}

div#main-content div.logo-ingles img {
    margin-top: -90px;
    margin-left: 78px;
}

ul#oral-escrito {
    padding-left: 137px;
}

ul#oral-escrito li {
    display: inline-block;
}

ul#oral-escrito li img {
    padding-left: 7px
}

div#main-content ol img {
    padding-right: 10px;
    float: left;
}

div#main-content div.curso-online-logo img {
    float: left;
    margin-top: -80px;
}

div#main-content section#cursos-autodidactas li {
    padding-top: 0px;
    padding-bottom: 0px;
}


div#main-content .active {
    display: block;
}

div#main-content .inactive {
    display: none;
}

